* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background:#4C4C4C url(/assets/imagens/LogoTransSat.svg) no-repeat center/cover;

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #fff;
}